parameters:


includes:
    - accessData.neon
    - eshop.neon

application:
	errorPresenter: Error
	mapping:
		*: LuTauch\App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: LuTauch\App\Router\RouterFactory::createRouter

	ConfigFormFirst:
	    class: LuTauch\App\Forms\ConfigFormFirst
	ConfigFormSecond:
	    class: LuTauch\App\Forms\ConfigFormSecond
	ShipmentFormFirst:
	    class: LuTauch\App\Forms\ShipmentFormFirst
	ShipmentFormSecond:
	    class: LuTauch\App\Forms\ShipmentFormSecond

	- LuTauch\App\Model\CarrierModel
	- LuTauch\App\Model\OptionsModel
	- LuTauch\App\Model\Options
	- LuTauch\App\Model\OrderAcceptance
