parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter

	configFormFirst:
	    class: App\Forms\ConfigFormFirst
	configFormSecond:
	    class: App\Forms\ConfigFormSecond

	- App\Model\CarrierModel
