services:
	- LuTauch\App\Forms\IShipmentFormSecondFactory
	- LuTauch\App\Forms\IShipmentFormFirstFactory
	- LuTauch\App\Forms\IConfigFormFirstFactory
	- LuTauch\App\Forms\IConfigFormSecondFactory
	- LuTauch\App\Model\CarrierModel
	- LuTauch\App\Model\OptionsModel
	- LuTauch\App\Model\Options
	- LuTauch\App\Model\ZasilkovnaPickupPointModel
	- LuTauch\App\Model\CzechPostPickupPointModel
	- LuTauch\App\Model\Factory\CarrierFactory
	- LuTauch\App\Model\PacketItems\Packet
	- LuTauch\App\Model\PacketItems\Cod
	- LuTauch\App\Model\PacketItems\Size
	- LuTauch\App\Model\PacketItems\Recipient
	- LuTauch\App\Model\PickupPoint\CzechPostPickupPoint
	- LuTauch\App\Model\PickupPoint\CzechPostPickupPointDownloader
	- LuTauch\App\Model\PickupPoint\CzechPostPickupPointParser
	- LuTauch\App\Model\PickupPoint\CzechPostNaPostuRepository
	- LuTauch\App\Model\PickupPoint\CzechPostDoBalikovnyRepository
	- LuTauch\App\Model\PickupPoint\ZasilkovnaPickupPoint
	- LuTauch\app\Model\Repository\ZasilkovnaPickupPointRepository

