
{form form}
    <fieldset>
        <div class="form-row">
            <div class="form-group col-sm-12">
                {label services class=>'font-weight-bold'/}
                <br>
                {input services class=>'form-control'}
            </div>
        </div>
    </fieldset>
    <a class="btn btn-primary" href="{plink Order:payment}">Zpět na výběr platby</a>
    {input submit class=>"btn btn-primary"}
{/form}