{form form}
    {capture $autocompleteLink}
        {link autocomplete!}
    {/capture}
    <div class="alert alert-danger alert-dismissible fade show" role="alert" n:if="$form->hasErrors()">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span n:foreach="$form->errors as $error">{$error}</span>
    </div>
    <fieldset>
        <legend>Doprava</legend>
        <div class="form-row">
            {dump $additionalServices}
            <div class="form-group col-sm-12">
                {label additionalService class=>'font-weight-bold'/}
                <br>
                {input additionalService class=>'form-control'}
            </div>
        </div>
    </fieldset>
    <fieldset>
        {snippet pickup_place_input}
            <div class="form-row ui-widget">
                <div class="form-group col-sm-12">
                    {label pickup_place class=>'font-weight-bold'/}
                    <br>
                    {input pickup_place class=>'form-control'}
                </div>
            </div>
        {/snippet}
    </fieldset>
    <a class="btn btn-primary" href="{plink Shipment:}">Zpět na výběr dopravy</a>
    {input submit class=>"btn btn-primary"}

{/form}
